@charset "CP850";
/*
 * Global styles
 */
html {
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif; }

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: white;
  font-size: 1.6rem; }

aside, body, button, form, input, label, li, nav, section, span, svg, ul {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*
 * Navigation Bar
 */
#navigation {
  display: -webkit-box;
  /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* OLD: Firefox (buggy) */
  display: -ms-flexbox;
  /* MID: IE 10 */
  display: -webkit-flex;
  /* NEW, Chrome 21+ */
  display: flex;
  /* NEW: Opera 12.1, Firefox 22+ */
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(41, 41, 41, 0.8); }

#navigation > form {
  display: -webkit-box;
  /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* OLD: Firefox (buggy) */
  display: -ms-flexbox;
  /* MID: IE 10 */
  display: -webkit-flex;
  /* NEW, Chrome 21+ */
  display: flex;
  /* NEW: Opera 12.1, Firefox 22+ */
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  /* OLDâ€¦ */
  -ms-flex-align: stretch;
  /* You know the drill nowâ€¦ */
  -webkit-align-items: stretch;
  align-items: stretch;
  height: 53px; }

/**
 * Filter input
 */
#node-filter {
  display: -webkit-box;
  /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* OLD: Firefox (buggy) */
  display: -ms-flexbox;
  /* MID: IE 10 */
  display: -webkit-flex;
  /* NEW, Chrome 21+ */
  display: flex;
  /* NEW: Opera 12.1, Firefox 22+ */
  width: 320px;
  padding: 0 9px; }

#node-filter > input[type=text] {
  width: 100%;
  height: 36px;
  padding: 0 8px;
  margin: 9px 0 8px;
  display: inline-block; }

#node-filter > button {
  height: 36px;
  width: 36px;
  margin: 9px 0 8px -36px;
  background: transparent;
  border: none;
  color: #515151; }

/**
 * Nodes Tab
 */
#inspector {
  width: 320px;
  position: absolute;
  right: 0;
  top: 63px;
  bottom: 10px;
  overflow-y: auto;
  background: rgba(41, 41, 41, 0.8); }

#nodes {
  overflow-y: scroll; }

label {
  padding: 19px;
  color: #d2d2d2;
  cursor: pointer; }

label.active {
  color: white; }

label > input[type=radio] {
  display: none; }

#node-list > li {
  display: -webkit-box;
  /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* OLD: Firefox (buggy) */
  display: -ms-flexbox;
  /* MID: IE 10 */
  display: -webkit-flex;
  /* NEW, Chrome 21+ */
  display: flex;
  /* NEW: Opera 12.1, Firefox 22+ */
  -webkit-box-align: center;
  -moz-box-align: center;
  /* OLDâ€¦ */
  -ms-flex-align: center;
  /* You know the drill nowâ€¦ */
  -webkit-align-items: center;
  align-items: center;
  height: 44px;
  padding: 0 20px;
  border-bottom: 1px solid #f1f1f1;
  color: #f1f1f1;
  cursor: pointer; }

#node-list > li:last-child {
  border-bottom: none; }

#node-list li.selected {
  background: #64baf1; }

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Graph stuff */
circle {
  cursor: pointer; }
  circle.background {
    fill: #24a1f1;
    opacity: 0.3; }
  circle.invisible {
    opacity: 0; }

text {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer; }

.top-circle {
  fill: #d2d2d2;
  opacity: 1; }

.accepted .top-circle {
  fill: #00b67c;
  opacity: 1; }

.denied .top-circle {
  fill: #e2abb9;
  opacity: 1; }

.filtered .top-circle {
  fill: #f1f1f1; }

.selected .top-circle {
  fill: #64baf1; }

.link {
  stroke: #64baf1;
  stroke-width: 4px; }
