@charset "UTF-8";
/*
 * Global styles
 */
/* line 1, sass/_dom-overrides.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* line 6, sass/_dom-overrides.scss */
*::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* line 12, sass/_dom-overrides.scss */
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 19, sass/_dom-overrides.scss */
html {
  font-size: 62.5%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

/* line 24, sass/_dom-overrides.scss */
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #FFF;
  font-size: 1.6rem;
}

/* line 33, sass/_dom-overrides.scss */
button {
  cursor: pointer;
}

/* line 37, sass/_dom-overrides.scss */
button, input, textarea, select, label, .node-key {
  width: 100%;
  padding: 8px;
  border: none;
  font-size: 1.6rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
}
/* line 46, sass/_dom-overrides.scss */
button:focus, input:focus, textarea:focus, select:focus, label:focus, .node-key:focus {
  outline: none;
}

/* line 51, sass/_dom-overrides.scss */
textarea, input, select {
  background: #c2b9c2;
  color: #FFF;
}

/* line 56, sass/_dom-overrides.scss */
aside textarea,
aside input,
aside select {
  color: #331833;
}

/* line 62, sass/_dom-overrides.scss */
aside button,
aside input[type=button],
aside input[type=submit] {
  width: 304px;
  margin: 8px;
}

/* line 70, sass/_dom-overrides.scss */
::-webkit-input-placeholder {
  color: inherit;
  font-variant: small-caps;
  text-transform: lowercase;
}

/* line 76, sass/_dom-overrides.scss */
::-moz-placeholder {
  color: inherit;
  font-variant: small-caps;
  text-transform: lowercase;
}

/* line 82, sass/_dom-overrides.scss */
:-moz-placeholder {
  color: inherit;
  font-variant: small-caps;
  text-transform: lowercase;
}

/* line 88, sass/_dom-overrides.scss */
:-ms-input-placeholder {
  color: inherit;
  font-variant: small-caps;
  text-transform: lowercase;
}

/**
 * Sidebar
 */
/* line 1, sass/_sidebar.scss */
aside {
  font-weight: 300;
}

/* line 5, sass/_sidebar.scss */
#inspector {
  padding-top: 8px;
  overflow: hidden;
  background: transparent;
  pointer-events: none;
}
/* line 11, sass/_sidebar.scss */
#inspector form > button {
  text-align: left;
}
/* line 14, sass/_sidebar.scss */
#inspector form > button span[class^=icon] {
  display: inline-block;
  width: 38px;
  text-align: center;
  margin-left: -8px;
}
/* line 23, sass/_sidebar.scss */
#inspector form > div label[class^=icon] {
  color: #331833;
  position: absolute;
  width: 38px;
  text-align: center;
  padding: 9px 0;
}
/* line 31, sass/_sidebar.scss */
#inspector form > div input,
#inspector form > div .node-key {
  padding-left: 38px;
}
/* line 37, sass/_sidebar.scss */
#inspector.expanded {
  pointer-events: auto;
}
/* line 41, sass/_sidebar.scss */
#inspector.expanded .panel-navigation {
  margin-right: -38px;
}
/* line 45, sass/_sidebar.scss */
#inspector.expanded .panel.active {
  margin-right: 0;
  pointer-events: auto;
}

/* line 52, sass/_sidebar.scss */
.panel {
  background: #331833;
  margin-right: -320px;
  position: absolute;
  padding-top: 8px;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  transition: margin-right 0.18s linear;
}

/* line 64, sass/_sidebar.scss */
.panel-navigation {
  background: #331833;
  position: absolute;
  padding-top: 8px;
  top: 0;
  right: 0;
  bottom: 0;
  margin-right: 0;
  transition: margin-right 0.18s linear;
  z-index: 100;
  pointer-events: auto;
}
/* line 79, sass/_sidebar.scss */
.panel-navigation button {
  width: 38px;
  padding: 9px 0;
  margin: 0;
  display: block;
  background: transparent;
  color: #FFF;
}
/* line 93, sass/_sidebar.scss */
.panel-navigation .hidden {
  margin-right: -38px;
}

/* line 98, sass/_sidebar.scss */
.node-field > div,
.node-field > textarea {
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  display: inline-block;
  vertical-align: top;
}

/* line 107, sass/_sidebar.scss */
.node-field > div {
  position: relative;
  height: auto;
}

/* line 112, sass/_sidebar.scss */
.node-field input,
.node-key {
  left: 0;
  right: 0;
  padding-left: 38px;
}

/* line 119, sass/_sidebar.scss */
.node-field button {
  position: absolute;
  top: 0;
  bottom: 0;
  color: #b3b3b3;
}
/* line 125, sass/_sidebar.scss */
.node-field button.right {
  right: 0;
}
/* line 129, sass/_sidebar.scss */
.node-field button:not(.right) {
  left: 0;
}

/* line 134, sass/_sidebar.scss */
.node-field button,
#new-property,
#new-label,
#new-edge {
  text-align: center;
  font-size: 10px;
  font-size: 1.0rem;
  width: 38px;
  margin: 0;
  background: transparent;
}

/* line 146, sass/_sidebar.scss */
#new-property,
#new-label,
#new-edge {
  color: #FFF;
  height: 35px;
}

/* line 153, sass/_sidebar.scss */
#delete-node-button {
  background: #e97777;
  color: #331833;
}

/* line 158, sass/_sidebar.scss */
.node-field input,
.node-field textarea,
.node-key {
  background: transparent;
  color: #FFF;
}

/* line 165, sass/_sidebar.scss */
.node-label.node-field div {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

/* line 173, sass/_sidebar.scss */
#inspector ul::before {
  width: 100%;
  padding: 6px 0 6px 38px;
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 0.02em;
  text-transform: lowercase;
  font-variant: small-caps;
  color: #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
}

/* line 188, sass/_sidebar.scss */
#inspector li {
  color: #b3b3b3;
  cursor: pointer;
  transition: color 0.08s linear;
}
/* line 194, sass/_sidebar.scss */
#inspector li:last-child {
  border-bottom: 1px solid #b3b3b3;
}
/* line 198, sass/_sidebar.scss */
#inspector li:hover {
  color: #FFF;
}

/* line 203, sass/_sidebar.scss */
#node-fields::before {
  content: 'Properties';
}

/* line 207, sass/_sidebar.scss */
#node-labels::before {
  content: 'Labels';
}

/* line 211, sass/_sidebar.scss */
#node-edges::before {
  content: 'Relations';
}

/* line 215, sass/_sidebar.scss */
#node-edges div {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

/* line 221, sass/_sidebar.scss */
#node-filter-result::before {
  content: 'Result';
}

/* line 225, sass/_sidebar.scss */
#node-filter-result {
  overflow-y: auto;
  height: calc(100vh - 35px - 16px);
}

/* line 231, sass/_sidebar.scss */
.node-key {
  display: flex;
}

/* line 235, sass/_sidebar.scss */
.list-item {
  width: 100%;
  height: 38px;
  color: #FFF;
  padding: 1px 10px 0 38px;
  display: -webkit-box;
  /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* OLD: Firefox (buggy) */
  display: -ms-flexbox;
  /* MID: IE 10 */
  display: -webkit-flex;
  /* NEW, Chrome 21+ */
  display: flex;
  /* NEW: Opera 12.1, Firefox 22+ */
  -webkit-box-align: center;
  -moz-box-align: center;
  /* OLDâ€¦ */
  -ms-flex-align: center;
  /* You know the drill nowâ€¦ */
  -webkit-align-items: center;
  align-items: center;
}

/*
 * Navigation Bar
 */
/* line 27, sass/graph-editor.scss */
#navigation {
  display: -webkit-box;
  /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* OLD: Firefox (buggy) */
  display: -ms-flexbox;
  /* MID: IE 10 */
  display: -webkit-flex;
  /* NEW, Chrome 21+ */
  display: flex;
  /* NEW: Opera 12.1, Firefox 22+ */
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(41, 41, 41, 0.8);
}

/* line 40, sass/graph-editor.scss */
#navigation > form {
  display: -webkit-box;
  /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* OLD: Firefox (buggy) */
  display: -ms-flexbox;
  /* MID: IE 10 */
  display: -webkit-flex;
  /* NEW, Chrome 21+ */
  display: flex;
  /* NEW: Opera 12.1, Firefox 22+ */
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  /* OLDâ€¦ */
  -ms-flex-align: stretch;
  /* You know the drill nowâ€¦ */
  -webkit-align-items: stretch;
  align-items: stretch;
  height: 53px;
}

/**
 * Filter input
 */
/* line 51, sass/graph-editor.scss */
#node-filter {
  display: -webkit-box;
  /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* OLD: Firefox (buggy) */
  display: -ms-flexbox;
  /* MID: IE 10 */
  display: -webkit-flex;
  /* NEW, Chrome 21+ */
  display: flex;
  /* NEW: Opera 12.1, Firefox 22+ */
  width: 320px;
  padding: 0 9px;
}

/* line 59, sass/graph-editor.scss */
#node-filter > input[type=text] {
  width: 100%;
  height: 36px;
  padding: 0 8px;
  margin: 9px 0 8px;
  display: inline-block;
}

/* line 69, sass/graph-editor.scss */
#node-filter > button {
  height: 36px;
  width: 36px;
  margin: 9px 0 8px -36px;
  background: transparent;
  border: none;
  color: #515151;
}

/**
 * Nodes Tab
 */
/* line 84, sass/graph-editor.scss */
#inspector {
  width: 320px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

/* line 97, sass/graph-editor.scss */
#nodes {
  overflow-y: scroll;
}

/* line 101, sass/graph-editor.scss */
label {
  padding: 19px;
  color: #d2d2d2;
  cursor: pointer;
}

/* line 107, sass/graph-editor.scss */
label.active {
  color: white;
}

/* line 111, sass/graph-editor.scss */
label > input[type=radio] {
  display: none;
}

/* line 115, sass/graph-editor.scss */
#node-list > li {
  display: -webkit-box;
  /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;
  /* OLD: Firefox (buggy) */
  display: -ms-flexbox;
  /* MID: IE 10 */
  display: -webkit-flex;
  /* NEW, Chrome 21+ */
  display: flex;
  /* NEW: Opera 12.1, Firefox 22+ */
  -webkit-box-align: center;
  -moz-box-align: center;
  /* OLDâ€¦ */
  -ms-flex-align: center;
  /* You know the drill nowâ€¦ */
  -webkit-align-items: center;
  align-items: center;
  height: 44px;
  padding: 0 20px;
  border-bottom: 1px solid #f1f1f1;
  color: #f1f1f1;
  cursor: pointer;
}

/* line 128, sass/graph-editor.scss */
#node-list > li:last-child {
  border-bottom: none;
}

/* line 132, sass/graph-editor.scss */
#node-list li.selected {
  background: #64baf1;
}

/* line 136, sass/graph-editor.scss */
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 147, sass/graph-editor.scss */
#edit-mode .selected {
  color: #331833;
}

/* line 151, sass/graph-editor.scss */
.u-row {
  display: flex !important;
  flex-direction: row;
}

/* line 156, sass/graph-editor.scss */
.u-grow {
  display: flex;
  flex-grow: 1;
}

/* line 161, sass/graph-editor.scss */
#new-edge {
  position: static !important;
}

/** Autocomplete */
/* line 167, sass/graph-editor.scss */
.tt-dropdown-menu {
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 171, sass/graph-editor.scss */
#new-edge-target ~ .tt-dropdown-menu {
  width: 100%;
  cursor: pointer;
}

/* line 177, sass/graph-editor.scss */
.tt-suggestion {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}
/* line 182, sass/graph-editor.scss */
.tt-suggestion:hover {
  background-color: silver;
}

/* Graph stuff */
/* line 1, sass/_nodes.scss */
circle {
  cursor: pointer;
}
/* line 4, sass/_nodes.scss */
circle.background {
  fill: #24a1f1;
  opacity: 0.3;
}
/* line 9, sass/_nodes.scss */
circle.invisible {
  opacity: 0;
}

/* line 14, sass/_nodes.scss */
text {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}

/* line 20, sass/_nodes.scss */
.top-circle {
  fill: #d2d2d2;
  opacity: 1;
  stroke: #939393;
  stroke-width: 0;
  -webkit-transition: stroke-width 0.03s linear;
  transition: stroke-width 0.03s linear;
}

/* line 29, sass/_nodes.scss */
.overlay {
  fill: white;
  opacity: 0;
  transition: opacity 0.06s linear;
}

/* line 35, sass/_nodes.scss */
.accepted .top-circle {
  fill: #5cc6b8;
  stroke: #408a80;
}

/* line 42, sass/_nodes.scss */
.denied .top-circle {
  fill: #e97777;
  stroke: #a35353;
}

/* line 50, sass/_nodes.scss */
.filtered .overlay {
  opacity: 0.5;
}

/* line 54, sass/_nodes.scss */
.node.selected .top-circle {
  stroke-width: 5px;
}

/* line 5, sass/_links.scss */
.link {
  stroke: #7f7f7f;
  stroke-width: 4px;
}

/* line 10, sass/_links.scss */
.influence-link {
  stroke: #e9ca20;
}

/* line 14, sass/_links.scss */
.synonym-link {
  stroke: #d5d5d5;
}

/* line 18, sass/_links.scss */
.marker {
  fill: transparent;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* line 25, sass/_links.scss */
#arrow {
  stroke: #7f7f7f;
}

/* line 29, sass/_links.scss */
#influence-arrow {
  stroke: #e9ca20;
}

/* line 33, sass/_links.scss */
#synonym-arrow {
  stroke: #d5d5d5;
}
