aside {
	font-weight: 300;
}

#inspector {
	padding-top: 8px;
	overflow: hidden;
	background: transparent;
	pointer-events: none;

	form > button {
		text-align: left;

		span[class^=icon] {
			display: inline-block;
			width: 38px;
			text-align: center;
			margin-left: -8px;
		}
	}

	form > div {
		label[class^=icon] {
			color: $color-dark;
			position: absolute;
			width: 38px;
			text-align: center;
			padding: 9px 0;
		}

		input {
			padding-left: 38px;
		}
	}

	&.expanded {

		pointer-events: auto;

		.panel-navigation {
			margin-right: -38px;
		}

		.panel.active {
			margin-right: 0;
			pointer-events: auto;
		}
	}
}

.panel {
	background: $color-dark;
	margin-right: -320px;
	position: absolute;
	padding-top: 8px;
	top: 0;
	right: 0;
	bottom: 0;
	width: 320px;
	transition: margin-right 0.18s linear;
}

.panel-navigation {

	$item-width: 38px;

	background: $color-dark;
	position: absolute;
	padding-top: 8px;
	top: 0;
	right: 0;
	bottom: 0;
	margin-right: 0;
	transition: margin-right 0.18s linear;
	z-index: 100;
	pointer-events: auto;

	button {
		width: 38px;
		padding: 9px 0;
		margin: 0;

		background: transparent;
		color: $color-light;
	}

	hr {

	}

	& .hidden {
		margin-right: -38px;
	}
}

.node-field > div,
.node-field > textarea {
	width: 50%;
	min-width: 50%;
	max-width: 50%;
	display: inline-block;
	vertical-align: top;
}

.node-field > div {
	position: relative;
	height: auto;
}

.node-field input {
	left: 0;
	right: 0;
	padding-left: 38px;
}

.node-field button {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	color: #b3b3b3;
}

.node-field button,
#new-property {
	text-align: center;
	font-size: 10px;
	font-size: 1.0rem;
	width: 38px;
	margin: 0;
	background: transparent;
}

#new-property {
	color: $color-light;
	height: 35px;
}

#delete-button {
	background: $color-red;
	color: $color-dark;
}

.node-field input,
.node-field textarea {
	background: transparent;
	color: $color-light;
}

#node-fields {
	li:last-child {
		border-bottom: 1px solid #b3b3b3;
	}

	&::before {
		content: 'Properties';
		width:100%;
		padding: 6px 0 6px 38px;
		display: block;
		font-size: 14px;
		font-size: 1.4rem;
		letter-spacing: (20/1000) + em;

		text-transform: lowercase;
		font-variant: small-caps;
		color: #b3b3b3;
		border-bottom: 1px solid #b3b3b3;
	}
}